# Terraform state files
*.tfstate
*.tfstate.*

# Terraform cache
.terraform/

# Sensitive variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc